<div class="sms">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <label>{{options.title}}</label>
      <input class="form-control" placeholder="{{options.filterPlaceHolder}}" ng-model="searchTerm">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <label>{{options.labelAll}}</label>
      <button class="btn btn-default btn-xs" ng-click="transfer(options.items, options.selectedItems, -1)">
        Select All
      </button>
      <div class="pool">
        <ul>
          <li ng-repeat="item in options.items | filter: searchTerm | orderBy: 'name'">
            <a href="" ng-click="transfer(options.items, options.selectedItems, options.items.indexOf(item))">
            {{item.name}} &rArr;
          </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <label>{{options.labelSelected}}</label>
      <button class="btn btn-default btn-xs" ng-click="transfer(options.selectedItems, options.items, -1)">
        Deselect All
      </button>
      <div class="pool">
        <ul>
          <li ng-repeat="item in options.selectedItems | filter: searchTerm | orderBy: 'name'">
            <a href="" ng-click="transfer(options.selectedItems, options.items, options.selectedItems.indexOf(item))">
            &lArr; {{item.name}}
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>